#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.nav-profile-photo {
    width: 24px;
}

.dropdown-toggle::after {
    display: none;
}

.custom-profile-checkbox {
    width: 2em !important;
    height: 2em !important;
}

.custom-profile-textbox {
    width: 3em;
}

.custom-profile-textbox-wide {
    width: 5em;
}

.custom-profile-valuebox {
    height: 1.5em;
    background-color: lightgray;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    width: 50%;
    text-align: center;
}

.profile-indicator {
    width: 100%;
    height: 1.5em;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

    .profile-indicator.empty {
        background-size: auto;
        background-color: white;
    }

    .profile-indicator.green {
        background-color: green;
    }

    .profile-indicator.yellow {
        background-color: yellow;
    }

    .profile-indicator.red {
        background-color: red;
    }

.pointer {
    cursor: pointer;
}

.card.bg-mid {
    background-color: #b0b0b0;
}

.form-check-input {
    margin-left: 0px !important;
}

.ml-2, .mx-2 {
    margin-left: .5rem !important;
}

/* Bootstrap 4 → 5 polyfills for deprecated spacing utilities */
.ml-1 {
    margin-left: .25rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.pl-5 {
    padding-left: 3rem !important;
}

.pr-1 {
    padding-right: .25rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

/* Bootstrap 2/3 btn-large → Bootstrap 5 btn-lg equivalent */
.btn-large {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.btn-group {
    margin-right: 0.5rem;
}

.font-weight-bold {
    font-weight: 700 !important;
}

